.app-container {
    width: 80%;
    height: fit-content;
    padding: 20px;
    margin-top: 6%;
    margin-left: 5%;

    display: block;
    border-radius: 25px;
    background-color: #ffffffd1;
  }

  .title_div{
    color: #000000;
    font-size: 35px;
  }
  
  table {
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 2%;
  }
  
  th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 25px;
  }
  
  th {
    background-color: #84A98C;
  }
  
  td {
    background-color: #ffffff95;
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }

  form * {
    font-size: 28px;
  }